# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Virtual environments
skillenv/
venv/
env/
ENV/
*.env/

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Node (if using npm/webpack for static assets)
node_modules/
npm-debug.log

# Render build
render.yaml
