{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body id="login-page">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="form-container">
            <h2 class="mb-4">Login</h2>
            <form id="login-form" method="POST" autocomplete="on">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <!-- Username Field -->
                <div class="form-group">
                    <label for="id_username">Email:</label>
                    {{ form.email }}
                </div>

                <!-- Password Field -->
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="links mt-3">
                <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Login successful!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
